<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Articles</title>
    <link rel='stylesheet' type="text/css" href='../../assets/StyleSheets/NHK.css'>

</head>
<%- include ('partials/nav.ejs') %>

<body>
   <div id='container'>
    <% let counter=0%>
    <h2>Select An Article</h2>
    <h3>Select A Date</h3>
    <select id='yearSelect'>
        <option>2020</option>
    </select>
    <select id='monthSelect'>
        <option value='default'>Choose A Month</option>
        <option>January</option>
        <option>February</option>
        <option>March</option>
        <option>April</option>
        <option>May</option>
        <option>June</option>
        <option>July</option>
        <option>August</option>
        <option>September</option>
        <option>October</option>
        <option>November</option>
        <option>December</option>
    </select>
    <table id='calendarTable'>
        <caption id='tableName'>Month</caption>
        <tr>
            <th>Sunday</th>
            <th>Monday</th>
            <th>Tuesday</th>
            <th>Wednesday</th>
            <th>Thursday</th>
            <th>Friday</th>
            <th>Saturday</th>
        </tr>
    </table>
    <div id='calendarGrid'>

    </div>
    <p>
        <span>Choose Article Title</span>

        <select id='articleSelect'>

        </select>
        <span id='theDate'></span>
    </p>
   

    <div name='articleText'id='articleText'></div>
    <form  id='form' action="./"" method='POST'>
    <button id='submitButton' hidden>GoHOME</button>
    <input hidden id='Text' name='Text'>
    </form>

   </div>
   
  
 
 <script src='/assets/Scripts/NHK.js'></script>
</body>
</html>