<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test</title>
</head>
<body>
    <form action='/testResults' method="POST">
        <textarea autofocus="true" name="text" id="textContent"  placeholder="Sentence Here" wrap="soft" required ></textarea>
        <input id="button" type="submit" value="Submit" id="Submit">
    </form>
</body>
</html>
