<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About 開き文</title>
    <link rel="stylesheet" type="text/css" href="../assets/StyleSheets/AboutStyle.css">
</head>

<body>
    <%- include ('partials/nav.ejs') %>
    <p>
        This is a site where you can input some sentences to see if that content is up to your level.
    </p>
</body>
</html>