<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About 開き文</title>
    <link rel="stylesheet" type="text/css" href="../assets/StyleSheets/AboutStyle.css">
</head>

<body>
    <%- include ('partials/nav.ejs') %>
    <p>
        Ever read a Japanese text and wondered if it's below or above your level? 開き文 aims to aid you decipher the meaning of a sentence and gauge its difficulty. Enter the sentence and the study material that you have used, and HirakiBun will tell you what you should and shouldn't know. 
        Be it grammar, kanji or idioms, let HirakiBun unfold the meaning for you.    </p>
</body>
</html>