<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About 開き文</title>
    <link rel="stylesheet" type="text/css" href="../../assets/StyleSheets/AboutStyle.css">
</head>

<body>
    <%- include ('partials/nav.ejs') %>
    <div id='container'>
        <p>
            開き文 Is a grammar tokenizer powerd by kuromoji.It's purpose is to allower the user to input their reading or study materials
            they have used or using and  開き文 will then show the conjugations of the provided text.
             </p>
             <p>
                 Added Support For JLPT N5
             </p>
    </div>

</body>
</html>