<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../../assets/StyleSheets/indexStyles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hirakibun</title>
</head>
<body>
    <%- include ('partials/nav.ejs') %>
    <h1>Hirakibun　開き文</h1>
    <h2>Add your text below</h2>
    <H3>Be sure to end your sentences with 。</H3>
    <form  id="form" action="./resultsProcess" method="POST">
    <textarea autofocus="true" name="text" id="textContent"  placeholder="Sentence Here" wrap="soft" required ></textarea>
    <p>JLPT LVL
        <input id="JLPT"name="JLPT" type="number" value=0 min="0" max="5" required> Leave at 0 for N/A
    <p>
    <p>Genki Chapter
        <input id="genki"  name="Genki" type="number" value=0 min="0" max="22" required>Leave at 0 for N/A
    <p>
    <input id="button" type="submit" value="Submit" id="Submit">
    </form>
    <%if (locals.err){%>
        <h2 id='error'>
            <%=err%>
        </h2>
    <%}%>
    <p id="loadWait">

    </p>
    <div>
        <%- include ('partials/loadAnimation.ejs') %>

    </div>

</body>
<script src="../../assets/Scripts/indexScript.js"></script>
</html>    