<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../assets/indexStyles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hirakibun</title>
</head>
<body>
    <%- include ('partials/nav.ejs') %>
    <h1>Hirakibun　開き文</h1>
    <h2>Add your text below</h2>
    <H3>Be sure to end your sentences with 。</H3>
    <form  id="form" action="./results.html" method="POST">
    <textarea autofocus="true" name="text" id="textContent"  placeholder="Sentence Here" wrap="soft" required ></textarea>
    <span>JLPT LVL</span>
    <input id="JLPT"name="JLPT" type="number" min="0" max="5" value="5">
    <span>Genki Chapter</span>
    <input id="genki"  value="1" name="Genki" type="number" min="1" max="22">
    <input id="button" type="submit" value="Submit" id="Submit">
    </form>
</body>
<script src="../assets/indexScript.js"></script>
</html>    