<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Articles</title>
    <link rel='stylesheet' type="text/css" href='../../assets/StyleSheets/NHK.css'>

</head>
<%- include ('partials/nav.ejs') %>

<body>
  
    <%let obj=JSON.parse(articles)%>
    <%=obj.text%>
    <%=pie%>
</body>
</html>