<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Articles</title>
    <link rel='stylesheet' type="text/css" href='../../assets/StyleSheets/NHK.css'>

</head>
<%- include ('partials/nav.ejs') %>

<body>
   <div id='container'>
    <% let counter=0%>
    <h2>Select An Article</h2>
    <select id='year'>
        <option>2020</option>
    </select>
    <select id='month'>
        <option>s</option>
        <option>s</option>
        <option>s</option>
        <option>s</option>
        <option>s</option>
    <select>
        <option></option>
    </select></select>
    <span>Article Title</span>

    <select id='articleSelect'>
        <option>Select An Article</option>
        <%articles.forEach(element=>{%>
            <option><%=element.title%></option>        
            <%})%>   
    </select>
    <%articles.forEach(element =>{%>
        <div  class="selectText" id=<%=counter%> hidden><%=element.text%></div>
        <%counter++%>
    <%})%>
    <div name='articleText'id='articleText'></div>
    <form  id='form' action="./"" method='POST'>
    <button hidden>GoHOME</button>
    <input hidden id='Text' name='Text'>
    </form>

   </div>
   
  
 
 <script src='../../assets/Scripts/NHK.js'></script>
</body>
</html>