body {
    background-color: lightblue;
  }
  
  h1 {
    color: navy;
    margin-left: 20px;
  }
  h3{
      color:green;
  }
 
  textarea:invalid {
    border: 2px dashed red;
  }
  
  textarea:invalid:required {
    background-image: linear-gradient(to right, pink, lightgreen);
  }
  
  textarea:valid {
    border: 2px solid black;
  }
  textarea{
    resize: none;
    height: 10em;
    width: 50em;
  }
  input[type=number]:invalid{
  background-image: linear-gradient(to right, pink, lightgreen);
}