* {
  margin: 0;
  padding: 0;
  }
body {
  padding-top: 50px;
  background-color: lightblue;
}

h1 {
  color: navy;
}
h3{
    color:green;
}

textarea:invalid {
  border: 2px dashed red;
}

textarea:invalid:required {
  /* background-image: linear-gradient(to right, red, red); */
  background-color: #f5655b;
}

textarea:valid {
  border: 2px solid black;
  /* background-image:linear-gradient(to right, green, green); */
}
textarea{
  resize: none;
  height: 10em;
  width: 50em;
}
input[type=number]:invalid{
background-image: linear-gradient(to right, pink, lightgreen);
}
@keyframes load{  
0%   {background-color:red; left:0px; top:0px;}
25%  {background-color:yellow; left:200px; top:0px;}
50%  {background-color:blue; left:200px; top:200px;}
75%  {background-color:green; left:0px; top:200px;}
100% {background-color:red; left:0px; top:0px;}
}
#loadWait{
  animation-name: load;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
