:root {
  --navHeight: 7%;
  --paddingforNavHeight: 8%;
}
.ul {
  z-index: 10;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ce9df1;
  position: fixed;
  top: 0;
  width: 100%;
  height: var(--navHeight);
}
.ul>li a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}