* {
    margin: 0;
    padding: 0;
  }
#container{
    position: absolute;
    top:  var(--navHeight);
}
table,th,td{
  border:1px solid black;
  border-collapse: collapse;
}
#calendarTable{
  /* display:none; */
}
#articleSelect{
  height:30px;
}