* {
    margin: 0;
    padding: 0;
  }
:root {
    --Verb-Color: #ffa500;
    --Noun-Color: #00ff7f;
    --Particle-Color: #ff1493;
    --I-Adjective-Color: #00ced1;
    --Na-Adjective-Color: #00bfff;
    --Dark-Background-color: #393f44;
  }
  #container{
    position: absolute;
    top:  var(--navHeight); 
    width: 50%;

  }
  body{
    color:white;
    background-color: var( --Dark-Background-color);
}

.box{
    display:inline-flex;
    flex-wrap:wrap;
    position: relative;
    -webkit-user-select: text; /* Safari */
    -ms-user-select: text; /* IE 10+ and Edge */
    user-select: text;
}

.unknown{
    color:gray;
}
#info{
    position: absolute;
    left: 51%;
    top:  var(--navHeight); 
    width: 50%;
}


.Verb,.Noun,.Particle,.Na-Adjective,.I-Adjective,.before,.surface,.conjugations{
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10+ and Edge */
    user-select: none; /* Standard syntax */
}

.numberCounter{
    color:red;
    font-size:10px;
    display: none;
}
#Line{
    border-left: 6px solid green;
    height: 100%;
    position: fixed;
    left: 50%;
    top:  var(--navHeight); 
}

div.surface.true{
    color:#66ff00;
}

div.surface.false{
    color:#ffa8d4;
}
table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
    /* width: 90%; */
}
button{
    border-radius: 4px;
    width:25%;
    /* font-size: 15px; */
}

#numberColumn{
    width:10%;
}