div{
    display:inline-block
}
body {
    background-color: lightblue;
  }
 :root{
    --verbColor: #2d5da8;
    --nounColor: #ef6d43;
    --iadjectiveColor: #8e43ef;
   --naadjectiveColor:#3aa13f;  /* #B72FD0 */
    --particleColor: saddlebrown;
 }
 
 #Verb:hover{
    color:var(--verbColor);
    cursor: pointer;
 }
 .VerbActive{
    color:var(--verbColor);
 }
.I-adjectiveActive{
    color:var(--iadjectiveColor); 
}
#I-adjective:hover{
    color:var(--iadjectiveColor);
    cursor: pointer; 
}
.Na-adjectiveActive{
    color:var(--naadjectiveColor); 
}
#Na-adjective:hover{
    color:var(--naadjectiveColor); 
    cursor: pointer;
}
 .NounActive{
    color: var(--nounColor);
 }
 #Noun:hover{
    color:var(--nounColor);
    cursor: pointer;
 }
 .ParticleActive{
    color: var(--particleColor);
 }
 #Particle:hover{
    color:var(--particleColor);
    cursor: pointer;
 }
.info{
    display: none;
}

