body{
    padding-top: 20px;
}
.Grammar{
    
}
.box{
    display:inline-flex;
    flex-wrap:wrap;
    position: relative;
    -webkit-user-select: text; /* Safari */
    -ms-user-select: text; /* IE 10+ and Edge */
    user-select: text;
}
/* div{
    display: inline;
}
div,p{
    letter-spacing: 0px;
} */
.Verb{
    color:blue;
}
.Noun{
    color: red;
}
.Particle{
    color: green;
}
.I-Adjective{
    color: peru;
}
.Na-Adjective{
    color:#dcbeff;
}
.Verb,.Noun,.Particle,.Na-Adjective,.I-Adjective,.before,.surface,.conjugations{
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10+ and Edge */
    user-select: none; /* Standard syntax */
}
.tooltiptext{
    visibility: hidden;   
    color:red;
    position: absolute;
    top:-70%;
    margin-left: -30px;
}
.surface:hover .tooltiptext{
    visibility: visible;
    display: inline-block;
}