<!DOCTYPE html>
<html lang="en">
<head>
    <link rel='stylesheet' type='text/css' href='../../../assets/StyleSheets/loadAnimation.css'>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <div id='loadAnimation'>
        <span >開き文</span>
        <span >開き分</span>
        <p id="loadWait">

        </p>
    </div>
</body>
</html>