<head>
    <link rel="stylesheet" type="text/css" href="../assets/StyleSheets/navStyles.css">
</head>
<nav>
    <!-- <ul class ="ul">
        <li><a href="/">開き文</a></li>
        <li><a href="/About">About</a></li>
        <li><a href=""></a>Vocab</li>
        <li><a href=""></a>3</li>
    </ul> -->
    <ul class='ul'>
        <li><a href="/">Home</a></li>
        <li><a href="/About">About</a></li>
        <!-- <li><a href="/GenkiVocabList?chapter=1&page=1">Vocab</a></li> -->
        <li><a href="">Some Stuff</a></li>
        <!-- <li><a href="">開き文</a></li> -->
        <li><a href="">English</a></li>
        <li><a href="/NHK">Daily NHK</a></li>
        <!-- <li><a href="">開き文</a></li> -->
      </ul>
</nav>
 <script src="../assets/Scripts/navScripts.js"></script>
