<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../assets/resultsStyles.css">
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>開いた/Results</title>
</head>
<body>
    <h1>開いた</h1>
    <% if(data.length>0){%>  
        <p>
                Original Sentence:  <span><%= originalSentence%></span>
            </p>
           <div>
             <ul>
                <% data.forEach(function(item){%>
                <li>
                    <%= item.Kanji%> 
                </li>
                <span id='Hiragana'><%= item.Hiragana%></span>
                <span id='English'><%= item.English%></span>
            </ul>
        <% }); %>
           </div>
<% } else  { %>
    <p>Sorry no results found</p>
<%}%>

<script src="../assets/rsultsScript.JS"></script>
</body>
</html>